html
  head
    title oonts
    link(rel='stylesheet', href='example.css')
    link(rel='stylesheet', href='../dist/oonts.css')
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../dist/oonts.js')
  body(onclick='oonts()')
    .box1 oonts
    .box2 oonts
    .box3 oonts
